body {
  margin: 0;
  line-height: normal;
}
.icon,
.multicolor-designify-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1947px;
  height: 1096px;
  object-fit: cover;
}
.multicolor-designify-1-icon {
  top: 457px;
  left: 135px;
  border-radius: 5px;
  width: 34px;
  height: 34px;
}
.back-end-developer-div {
  position: absolute;
  top: 159px;
  left: 130px;
  font-size: 40px;
  display: inline-block;
  width: 700px;
  height: 79px;
}
.github-icon-download-at-icons8 {
  position: absolute;
  top: 235px;
  left: 130px;
  width: 43px;
  height: 45px;
  object-fit: cover;
}
.httpsgithubcomdathdka-div {
  position: absolute;
  top: 243px;
  left: 182px;
  display: inline-block;
  width: 294px;
  height: 50px;
}
.facebook-png-icon-white-12-1 {
  position: absolute;
  top: 293px;
  left: 130px;
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.tlyhoangdat-div {
  position: absolute;
  top: 301px;
  left: 180px;
  display: inline-block;
  width: 287px;
  height: 31px;
}
.px-stack-overflow-icon-1 {
  position: absolute;
  top: 337px;
  left: 119px;
  width: 61px;
  height: 61px;
  object-fit: cover;
}
.tlydathdka-div {
  position: absolute;
  top: 358px;
  left: 182px;
  display: inline-block;
  width: 280px;
  height: 50px;
}
.emailgmailmailmessageservi-icon {
  position: absolute;
  top: 391px;
  left: 127px;
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.dathdkagmailcom-div,
.div {
  position: absolute;
  top: 408px;
  left: 182px;
  display: inline-block;
  width: 222px;
  height: 38px;
}
.div {
  top: 462px;
  left: 180px;
  width: 210px;
  height: 42px;
}
.image-1-icon {
  position: absolute;
  top: 649px;
  left: 114px;
  border-radius: 15px;
  width: 342px;
  height: 201px;
  object-fit: cover;
}
.currently-learning-div,
.currently-working-on {
  position: absolute;
  top: 580px;
  left: 114px;
  font-size: 32px;
  display: inline-block;
  width: 483px;
  height: 46px;
}
.currently-learning-div {
  top: 405px;
  left: 1261px;
  font-size: 40px;
  width: 382px;
  height: 78px;
}
.download-1-icon,
.download-2-1 {
  position: absolute;
  top: 468px;
  left: 1277px;
  border-radius: 5px;
  width: 59px;
  height: 57px;
  object-fit: cover;
}
.download-2-1 {
  left: 1476px;
  height: 59px;
}
.react-logo-7b3ce81517-seeklogo-icon {
  position: absolute;
  top: 468px;
  left: 1372px;
  width: 63px;
  height: 55px;
  object-fit: cover;
}
.download-3-1,
.javascript-logo-1-icon,
.mysql-logo-1-icon {
  position: absolute;
  top: 468px;
  left: 1581px;
  width: 102px;
  height: 63px;
  object-fit: cover;
}
.download-3-1,
.javascript-logo-1-icon {
  left: 1716px;
  border-radius: 5px;
  width: 63px;
}
.javascript-logo-1-icon {
  left: 1173px;
  width: 57px;
  height: 57px;
}
.hoang-dat-div {
  position: absolute;
  top: 82px;
  left: 130px;
  font-size: 60px;
  display: inline-block;
  width: 467px;
  height: 103px;
}
.video-chat-website {
  margin-block-start: 0;
  margin-block-end: 0;
}
.javascript {
  margin: 0;
}
.video-chat-website-javascript {
  position: absolute;
  top: 710px;
  left: 493px;
  font-size: 32px;
  display: inline-block;
  width: 704px;
  height: 103px;
}
.desktop-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Poppins;
}
